body {
  background-color: aliceblue;
  size: 200%;
}

table {
  border: 1px solid green;
  margin-left: auto;
  margin-right: auto;
}

#display {
  width: 358px;
  height: 35px;
  font-size: 30px;
}

.button {
  width: 70px;
  height: 40px;
  font-size: 20px;
}
